footer {
    background-color: white;
    height: 60px;
    border-bottom: 1px #CCCCCC;
    position: fixed;
    display: grid;
    place-content: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
